name: Build FreeSwitch docker images

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - run: |
          pkgver=$(grep -E -o pkgver=.* ./aports/main/freeswitch/APKBUILD | grep -E -o [0-9]+\.[0-9]+\.[0-9]+)
          echo "alpineVersion=$(git -C ./aports describe --abbrev=0 --tag --match v[0-9].* | grep -o -E [0-9]\.[0-9]+\.[0-9]+)" >> $GITHUB_ENV
          echo "pkgrel=$(grep -E -o pkgrel=.* ./aports/main/freeswitch/APKBUILD | grep -E -o [0-9]+)" >> $GITHUB_ENV
          echo "pkgverMajor=$(echo $pkgver | grep -E -o [0-9]+ | head -n1 | tail -n1)" >> $GITHUB_ENV
          echo "pkgverMinor=$(echo $pkgver | grep -E -o [0-9]+ | head -n2 | tail -n1)" >> $GITHUB_ENV
          echo "pkgverBuild=$(echo $pkgver | grep -E -o [0-9]+ | head -n3 | tail -n1)" >> $GITHUB_ENV
          echo "versionHeight=$(git rev-list --count HEAD)" >> $GITHUB_ENV

      - name: Set versions
        run: |
          echo "version1=${{ env.pkgverMajor }}" >> $GITHUB_ENV
          echo "version2=${{ env.pkgverMajor }}.${{ env.pkgverMinor }}" >> $GITHUB_ENV
          echo "version3=${{ env.pkgverMajor }}.${{ env.pkgverMinor }}.${{ env.pkgverBuild }}" >> $GITHUB_ENV
          echo "version4=${{ env.pkgverMajor }}.${{ env.pkgverMinor }}.${{ env.pkgverBuild }}-r${{ env.pkgrel }}" >> $GITHUB_ENV
          echo "version5=${{ env.pkgverMajor }}.${{ env.pkgverMinor }}.${{ env.pkgverBuild }}-r${{ env.pkgrel }}.${{env.versionHeight}}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Dockerfile
        uses: docker/build-push-action@v4
        with:
          push: true
          file: Dockerfile
          platforms: |
            linux/amd64
#            linux/aarch64
          build-args: |
            version=${{ env.version4 }}
            versionHeight=${{ env.versionHeight }}
            alpineVersion=${{ env.alpineVersion }}
          tags: |
            ghcr.io/exram/freeswitch:${{ env.version1 }}
            ghcr.io/exram/freeswitch:${{ env.version2 }}
            ghcr.io/exram/freeswitch:${{ env.version3 }}
            ghcr.io/exram/freeswitch:${{ env.version4 }}
            ghcr.io/exram/freeswitch:${{ env.version5 }}

      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          custom_tag: ${{ env.version5 }}
          github_token: ${{ secrets.GITHUB_TOKEN }}